
.arma3-ColorBlack {
    background-color: #000000 !important;
    color: white !important;
}

.arma3-ColorGrey {
    background-color: #7F7F7F !important;
}

.arma3-ColorRed {
    background-color: #E50000 !important;
}

.arma3-ColorBrown {
    background-color: #7F3F00 !important;
}

.arma3-ColorOrange {
    background-color: #D86600 !important;
}

.arma3-ColorYellow {
    background-color: #D8D800 !important;
}

.arma3-ColorKhaki {
    background-color: #7F9966 !important;
}

.arma3-ColorGreen {
    background-color: #00CC00 !important;
}

.arma3-ColorBlue {
    background-color: #0000FF !important;
    color: white !important;
}

.arma3-ColorPink {
    background-color: #FF4C66 !important;
}

.arma3-ColorWhite {
    background-color: #FFFFFF !important;
}

.arma3-ColorUNKNOWN {
    background-color: #B29900 !important;
}

.arma3-colorBLUFOR {
    background-color: #004C99 !important;
    color: white !important;
}

.arma3-colorOPFOR {
    background-color: #7F0000 !important;
    color: white !important;
}

.arma3-colorIndependent {
    background-color: #007F00 !important;
    color: white !important;
}

.arma3-colorCivilian {
    background-color: #66007F !important;
    color: white !important;
}

.leaflet-left {
    margin-left: 10px;
}

.leaflet-right {
    margin-right: 10px;
}

.leaflet-top {
    margin-top: 5px;
}

.leaflet-container .leaflet-grid-mouseposition {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 5px #bbb;
    padding: 5px;
    margin: 0px;
    color: #000;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
    width: 80px;
    text-align: center;
}
.text-marker-content {
    height: 32px;
    width: max-content;
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle;
    /*text-shadow: 1px 1px 2px white;*/
}

.map .btn-outline-secondary {
    background-color: rgba(255, 255, 255, 0.5);
    text-shadow: 0px 0px 4px #fff;
}
    .map .btn-outline-secondary:hover {
        text-shadow: none;
    }
.map .btn-outline-primary {
    background-color: rgba(255, 255, 255, 0.5);
}

.leaflet-interactive.disabled {
    cursor: inherit;
}

.leaflet-clickable.disabled {
    cursor: inherit;
}

.tacmap-sidebar {
    flex: 0 0 350px;
    background: #eee;
    border-left: 2px solid #ccc;
}

.mission-text {
    font-size: 12px;
    font-weight: bold;
    text-shadow: -1px 1px 2px #fff, 1px 1px 2px #fff, 1px -1px 2px #fff, -1px -1px 2px #fff;
}

.mission-btn img {
    max-width: 120px;
    max-height: 60px;
}

.edit-marker {
    border: 2px solid blue;
    background: white;
    cursor: move !important;
}

.mce-content-body p, .leaflet-tooltip.stickyNote p {
    margin: 0;
}
 .mce-content-body img, .leaflet-tooltip.stickyNote img {
    max-width: 336px;
}

.leaflet-tooltip.stickyNote {
    white-space: normal;
    width: 350px;
}

.mce-content-body {
    margin-right: auto;
    margin-left: auto;
    border-left: 2px #CCC dashed;
    border-right: 2px #CCC dashed;
    padding-right: 10px;
    padding-left: 10px;
    width: 358px;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 1.5;
}
 
/** Color dropdown */

.choices__list--dropdown.choices-dropdown-grid {
    width: 300px !important;
}

.choices-dropdown-grid div.choices__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 300px;
}

    .choices-dropdown-grid div.choices__list div.choices__item {
        width: 100px;
        text-align: center;
        border: 7px solid transparent;
        padding: 3px;
    }
        .choices-dropdown-grid div.choices__list div.choices__item.is-highlighted {
            border: 7px solid #f2f2f2;
            padding: 3px;
        }

/** Basic marker dropdown */

.choices__item.game-icon {
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 0px;
    padding-left: 30px;
}
.choices__list--dropdown .choices__item.game-icon {
    padding-left: 40px !important;
    background-position: 10px;
}

div.modal div.pmad-symbol-selector div.preview-box {
    min-height: 110px;
}
