@model Arma3TacMapWebApp.Entities.TacMap

@{
    ViewData["Title"] = "Modifier une carte tactique";
}



<div class="container">

    <h1 class="text-center">Carte tactique</h1>

    <p class="text-center">
        <a class="btn btn-outline-primary" asp-controller="Home" asp-action="EditMap" asp-route-id="@Model.TacMapID">Afficher la carte</a>
        <a class="btn btn-outline-secondary" asp-action="Export" asp-route-id="@Model.TacMapID">Export vers Arma3</a>
    </p>

    <h2 class="mt-5">Modifier le libellé</h2>
    <div class="row">
        <div class="col-md-6">

            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="TacMapID" />
                <input type="hidden" asp-for="WorldName" />
                <div class="input-group">
                    <input asp-for="Label" class="form-control" />
                    <div class="input-group-append">
                        <input type="submit" value="Enregistrer" class="btn btn-primary" />
                    </div>
                </div>
                <div asp-validation-for="Label" class="text-danger">
                </div>
            </form>
        </div>
    </div>

    <h2 class="mt-5">Partage</h2>

    <div class="row">
        <div class="col-md-6">
            <p>Lien pour l'accès en lecture seule</p>
            <div class="input-group mb-3">
                <input id="link-ro" class="form-control" type="text" readonly="readonly" value="@Url.Action("ViewMap", "Home", new { id = Model.TacMapID, t = Model.ReadOnlyToken }, Context.Request.Scheme)" />
                <div class="input-group-append">
                    <button class="btn btn-secondary btn-copy" type="button" data-copy="link-ro">Copier</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <p>Lien pour l'accès en lecture et écriture</p>
            <div class="input-group mb-3">
                <input id="link-rw" class="form-control" type="text" readonly="readonly" value="@Url.Action("EditMap","Home", new { id = Model.TacMapID, t = Model.ReadWriteToken }, Context.Request.Scheme)" />
                <div class="input-group-append">
                    <button class="btn btn-secondary btn-copy" type="button" data-copy="link-rw">Copier</button>
                </div>
            </div>
        </div>
    </div>



</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
