@model Arma3TacMapWebApp.Entities.MessageLineTemplate
@inject IHtmlLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = Localizer["Edit a line"];
}
<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="MessageTemplates" asp-action="Details" asp-route-id="@Model.MessageTemplateID">@Model.MessageTemplate!.Title</a></li>
        </ol>
    </nav>

    <h1>@Localizer["Edit a line"]</h1>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="MessageLineTemplateID" />
                <input type="hidden" asp-for="MessageTemplateID" />
                <div class="form-group">
                    <label asp-for="SortNumber" class="control-label"></label>
                    <input asp-for="SortNumber" class="form-control" />
                    <span asp-validation-for="SortNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="@Localizer["Save"]" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
