    <li>Maps, icons, screenshots, artworks from Arma 3 are under <a href="https://www.bohemia.net/community/licenses/arma-public-license" target="_blank">Arma Public Licence (APL)</a>. &copy; Bohemia Interactive.</li>
    <li>Additional maps under various licenses (APL, APL-SA, public domain, etc.), see <a href="https://jetelain.github.io/Arma3Map/" target="_blank">Arma3Map for details</a>. &copy; Various authors.</li>
    <li><a href="https://getbootstrap.com/">Bootstrap</a> under MIT license. &copy; Bootstrap team.</li>
    <li><a href="https://github.com/snapappointments/bootstrap-select">bootstrap-select</a> under MIT license. &copy; SnapAppointments, LLC.</li>
    <li><a href="https://fontawesome.com/">Font Awesome</a> under <a href="https://fontawesome.com/license/free">SIL Open Font License (OFL)</a> license. &copy; Fonticons, Inc.</li>
    <li><a href="https://github.com/Leaflet/Leaflet">Leaflet</a> under BSD license. &copy; CloudMade, Vladimir Agafonkin.</li>
    <li><a href="https://github.com/spatialillusions/milsymbol/">milsymbol</a> under MIT license. &copy; Måns Beckman - www.spatialillusions.com</li>
    <li><a href="https://github.com/spatialillusions/milstd">milstd</a> under MIT license. &copy; Måns Beckman - www.spatialillusions.com</li>
    <li><a href="https://github.com/dotnet/aspnetcore">ASP.NET Core</a> under Apache License 2.0.</li>
